@charset "UTF-8";
@font-face {
    font-family: 'SST';
    src: url(fontes/SST\ W20\ Medium.ttf);
}




:root{
    --font-playstation: 'SST';
    --font-padrao: 'Inter';

    --cor1: #0F274A;
    --cor2: #1B478A;

    --titulo1: #0F9FD9;
}


*{
    margin: 0px;        
    padding: 0px;
    max-width: 100%;
    min-width: auto;
}


header{
    font-family: var(--font-playstation);
    background-color: var(--cor1);
    padding-top: 2%;
    padding-bottom: 2%;
}

@media only screen and (max-width: 767px) {
    header {
        padding-top: 10px; /* Ajuste para telas menores, se necessário */
        padding-bottom: 10px; /* Ajuste para telas menores, se necessário */
    }
}



header img{
    width: 300px;
    height: 65px;
}

header a{
    color: white;
    font-family: var(--font-playstation);
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 30px;
    font-weight: bold;
    padding: 6px;

}
header a:hover{
    text-decoration: underline;
    background-color: #1b478a81;
    border-radius: 25px;
    transition-duration: 0.25s;
    padding: 8px;
}


main{
    background-color: white;
    padding: 20px;
}

article{
    background-color: white;
    max-width: 1000px;
    height: 900px;
    margin: auto;
    font-family: var(--font-playstation);
    /* box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.48);
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ; */
}

article h1{
    padding-top: 20px;
    text-align: center;
    font-size: 35px;
    color: var(--cor2);
}

article h2{
    margin-top: 30px;
    font-size: 2em;
    color: var(--cor2);
}
article p{
    text-align: justify;
    line-height: 30px;
    font-family: 'Inter';
    font-size: 19px;
    text-indent: 40px;
    margin: 15px;
}
article img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    /* WIDTH PADRÃO DE 600PX (AJUSTAR COM O GIMP) */
}
    

div.video{
    background-color: #1B478A;
    position: relative;
    padding-bottom: 57%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.center{
    text-align: center;
}
.link{
    color: var(--cor1);
    font-weight: bold;
}